@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg2.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
  position: relative;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.51;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 70vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.seperation {
  height: 7px;
  background-color: rgb(35, 35, 35);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 30vw;
  /* width: 555px; */
  position: relative;
  z-index: 10;
}


.mod{
    width: 17vw;
    position: absolute;
    top: 54px;
    right: 1px;
    right: 5rem;
}
.secImg video {
  width: 25vw;
  position: absolute;
  top: 51px;
  right: 0;
  /* width: 555px; */
}

section.first > div {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  text-align: center;
  font-size: 49px;
}
.faq {
  background-color: black;
  color: white;
  padding: 70px;
}
.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}
.faqbox {
  color: white;
  transition: all 0.3s ease-out;
  font-size: 24px;
  display: flex;
  background-color: rgb(45, 45, 45);
  justify-content: space-between;
  padding: 24px;
  max-width: 73vw;
  margin: 20px auto;
  cursor: pointer;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 34px;
}

footer .que {
  margin: 34px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }
    nav img{
        width: 100%;
    }
  .first {
    flex-wrap: wrap;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons{
    flex-direction: column;
  }
  .faq h2{
    font-size: 32px;
  }
  footer{
    max-width: 90vw;
  }
  .footer-item{
    align-items: center;
  }
}



.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

@media screen and (max-width: 1300px) {
    .footer {
      /* display: flex; */
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      
    }
  }
